# Python files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Environment files
.env
.env.docker
!.env.docker.example

# Virtual environment
venv/

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.pyd
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Mac OS X
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Other
*.bak
*.tmp
*.swp
*.swo

# Git
.git/
